.navbar {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  flex-direction: row;
  border-bottom: white 300px;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 70px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navbar button {
  color: rgb(239, 241, 241);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-content: right;
  background-color: #2744a3;
  height: 40px;
  width: 180px;
  color: #fbfcf9;
  text-decoration: none;
  font-size: 20px;
}

.navbar button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}


.navbar .rightSide button {
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  justify-content: center;
  background-color: #f9f9fa;
  height: 50px;
  width: 280px;
  color: #AFCB00;
  text-decoration: none;
  font-size: 20px;
}

.navbar .rightSide button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
