.event {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  .eventTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .eventBottom {
    display: flex;
    flex-direction: row;
    height: 55%;
    align-items: left;
    margin-top: 50px;
    padding: 15px;
    margin: 10px;
  }
  
  .eventBottom p {
    width: 1200px;
  }

  .eventInfo {
    width:70%
  }

  .eventHost {
    width: 30%
  }
  
  .event .eventBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: left;
    transform: translateY(-40px);
  }
  