.landing {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: black;
}

.headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  justify-content: center;
  background-color: #f9f9fa;
  height: 50px;
  width: 280px;
  color: #afcb00;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.midBanner {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  /* height: 100px; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.midBanner h2 {
  color: white;
  font-weight: lighter;
  font-size: larger;
}

.imageWrapper {
  display: flex;
  height: 500px;
}

.image {
  position: relative;
  width: calc(100vw / 3);
  height: 100%;
}

.image img {
  object-fit: cover;
  width: calc(100vw / 3);
  height: 100%;
}

.image div {
  position: absolute;
  top: 230px;
  width: 100%;
  text-align: center;
}

.image div h3 {
  color: white;
  font-weight: lighter;
}

@media only screen and (max-width: 650px) {
  .landing {
    justify-content: center;
    align-items: center;
  }
  .headerContainer h1,
  .headerContainer p {
  }

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}
